@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Kalam:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Caveat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);









body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto Condensed', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Kalam', handwriting;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Kalam', handwriting;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Kalam', handwriting;
}
.mbr-author-desc {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Kalam', handwriting;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #0b6623 !important;
}
.bg-info {
  background-color: #f7da64 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #d4ff99;
  border-color: #d4ff99;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #b4ff4d;
  border-color: #b4ff4d;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b4ff4d !important;
  border-color: #b4ff4d !important;
}
.btn-info {
  background-color: #f7da64;
  border-color: #f7da64;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #f3c91b;
  border-color: #f3c91b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #f3c91b !important;
  border-color: #f3c91b !important;
}
.btn-success {
  background-color: #0b6623;
  border-color: #0b6623;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #04210b;
  border-color: #04210b;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #04210b !important;
  border-color: #04210b !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #a9ff33;
  color: #a9ff33;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #d4ff99;
  border-color: #d4ff99;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d4ff99 !important;
  border-color: #d4ff99 !important;
}
.btn-info-outline {
  background: none;
  border-color: #e9bd0c;
  color: #e9bd0c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f7da64;
  border-color: #f7da64;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f7da64 !important;
  border-color: #f7da64 !important;
}
.btn-success-outline {
  background: none;
  border-color: #010a03;
  color: #010a03;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #0b6623;
  border-color: #0b6623;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0b6623 !important;
  border-color: #0b6623 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #0b6623 !important;
}
.text-info {
  color: #f7da64 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #0b6623;
}
.alert-info {
  background-color: #f7da64;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #17d94a;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#msg-box7-1e .mbr-section-title,
#msg-box7-1e .lead p {
  color: #fff;
}
#msg-box7-1e H3 {
  font-size: 48px;
  color: #f7da64;
  font-family: 'Droid Sans', sans-serif;
}
#msg-box7-1e P {
  font-family: 'Lato', sans-serif;
}
#msg-box7-1e SPAN {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
}
#menu-1b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1b .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-1b .navbar-toggler {
  color: #ffffff;
}
#menu-1b .close-icon::before,
#menu-1b .close-icon::after {
  background-color: #ffffff;
}
#menu-1b .link,
#menu-1b .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-1b .link {
  font-size: 1.05rem;
}
#menu-1b .dropdown-item,
#menu-1b .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1b .link:hover,
#menu-1b .dropdown-item:hover,
#menu-1b .link:focus,
#menu-1b .dropdown-item:focus {
  color: #c0a375;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-menu {
  background: #063813;
}
#menu-1b .nav-dropdown-sm .link:focus,
#menu-1b .nav-dropdown-sm .link:hover,
#menu-1b .nav-dropdown-sm .dropdown-item:focus,
#menu-1b .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-1b .navbar,
#menu-1b .nav-dropdown-sm,
#menu-1b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1b .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-1b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1b .bg-color.transparent.opened .link:hover,
#menu-1b .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1b .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-1b A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#contacts1-1d STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-1d P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}










#msg-box7-1j .mbr-section-title,
#msg-box7-1j .lead p {
  color: #fff;
}
#msg-box7-1j H3 {
  font-size: 48px;
  font-family: 'Droid Sans', sans-serif;
  color: #f3c649;
}
#msg-box7-1j P {
  font-family: 'Lato', sans-serif;
}
#msg-box7-1j .btn {
  font-family: 'Kalam', handwriting;
  font-size: 15px;
}
#msg-box7-1j SPAN {
  font-family: 'Kalam', handwriting;
  color: #f7da64;
}
#menu-1g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1g .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-1g .navbar-toggler {
  color: #ffffff;
}
#menu-1g .close-icon::before,
#menu-1g .close-icon::after {
  background-color: #ffffff;
}
#menu-1g .link,
#menu-1g .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-1g .link {
  font-size: 1.05rem;
}
#menu-1g .dropdown-item,
#menu-1g .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1g .link:hover,
#menu-1g .dropdown-item:hover,
#menu-1g .link:focus,
#menu-1g .dropdown-item:focus {
  color: #c0a375;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-menu {
  background: #063813;
}
#menu-1g .nav-dropdown-sm .link:focus,
#menu-1g .nav-dropdown-sm .link:hover,
#menu-1g .nav-dropdown-sm .dropdown-item:focus,
#menu-1g .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-1g .navbar,
#menu-1g .nav-dropdown-sm,
#menu-1g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1g .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-1g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1g .bg-color.transparent.opened .link:hover,
#menu-1g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1g .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-1g A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#contacts1-1i STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-1i P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}













#msg-box7-1o .mbr-section-title,
#msg-box7-1o .lead p {
  color: #fff;
}
#msg-box7-1o H3 {
  font-size: 48px;
  font-family: 'Droid Sans', sans-serif;
  text-align: left;
}
#msg-box7-1o P {
  font-family: 'Lato', sans-serif;
  text-align: left;
}
#msg-box7-1o SPAN {
  font-family: 'Kalam', handwriting;
  color: #f7da64;
}
#msg-box7-1o .btn {
  font-family: 'Kalam', handwriting;
  font-size: 15px;
}
#testimonials2-3f .mbr-section-title {
  color: #ffffff;
}
#testimonials2-3f .card-footer > div {
  color: #f7da64;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
#testimonials2-3f .card-footer > small {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#testimonials2-3f .mbr-section-title SPAN {
  color: #ffffff;
}
#testimonials2-3f .card-footer > div SPAN {
  font-family: 'Roboto Condensed', sans-serif;
}
#menu-1l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1l .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-1l .navbar-toggler {
  color: #ffffff;
}
#menu-1l .close-icon::before,
#menu-1l .close-icon::after {
  background-color: #ffffff;
}
#menu-1l .link,
#menu-1l .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-1l .link {
  font-size: 1.05rem;
}
#menu-1l .dropdown-item,
#menu-1l .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1l .link:hover,
#menu-1l .dropdown-item:hover,
#menu-1l .link:focus,
#menu-1l .dropdown-item:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-menu {
  background: #063813;
}
#menu-1l .nav-dropdown-sm .link:focus,
#menu-1l .nav-dropdown-sm .link:hover,
#menu-1l .nav-dropdown-sm .dropdown-item:focus,
#menu-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-1l .navbar,
#menu-1l .nav-dropdown-sm,
#menu-1l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1l .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-1l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1l .bg-color.transparent.opened .link:hover,
#menu-1l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1l .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-1l A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#contacts1-1n STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-1n P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}









#menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1q .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-1q .navbar-toggler {
  color: #ffffff;
}
#menu-1q .close-icon::before,
#menu-1q .close-icon::after {
  background-color: #ffffff;
}
#menu-1q .link,
#menu-1q .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-1q .link {
  font-size: 1.05rem;
}
#menu-1q .dropdown-item,
#menu-1q .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1q .link:hover,
#menu-1q .dropdown-item:hover,
#menu-1q .link:focus,
#menu-1q .dropdown-item:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-menu {
  background: #063813;
}
#menu-1q .nav-dropdown-sm .link:focus,
#menu-1q .nav-dropdown-sm .link:hover,
#menu-1q .nav-dropdown-sm .dropdown-item:focus,
#menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-1q .navbar,
#menu-1q .nav-dropdown-sm,
#menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-1q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1q .bg-color.transparent.opened .link:hover,
#menu-1q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1q .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-1q A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#msg-box7-1t .mbr-section-title,
#msg-box7-1t .lead p {
  color: #fff;
}
#msg-box7-1t H3 {
  font-size: 48px;
  font-family: 'Droid Sans', sans-serif;
}
#msg-box7-1t P {
  font-family: 'Lato', sans-serif;
}
#msg-box7-1t SPAN {
  font-family: 'Kalam', handwriting;
  color: #f7da64;
}
#contacts1-1s STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-1s P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}









#menu-1v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1v .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-1v .navbar-toggler {
  color: #ffffff;
}
#menu-1v .close-icon::before,
#menu-1v .close-icon::after {
  background-color: #ffffff;
}
#menu-1v .link,
#menu-1v .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-1v .link {
  font-size: 1.05rem;
}
#menu-1v .dropdown-item,
#menu-1v .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1v .link:hover,
#menu-1v .dropdown-item:hover,
#menu-1v .link:focus,
#menu-1v .dropdown-item:focus {
  color: #c0a375;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-menu {
  background: #063813;
}
#menu-1v .nav-dropdown-sm .link:focus,
#menu-1v .nav-dropdown-sm .link:hover,
#menu-1v .nav-dropdown-sm .dropdown-item:focus,
#menu-1v .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-1v .navbar,
#menu-1v .nav-dropdown-sm,
#menu-1v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1v .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-1v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1v .bg-color.transparent.opened .link:hover,
#menu-1v .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1v .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-1v A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#msg-box7-1y .mbr-section-title,
#msg-box7-1y .lead p {
  color: #fff;
}
#msg-box7-1y H3 {
  font-size: 48px;
  font-family: 'Droid Sans', sans-serif;
}
#msg-box7-1y P {
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box7-1y SPAN {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
}
#contacts1-1x STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-1x P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}








#menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-27 .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-27 .navbar-toggler {
  color: #ffffff;
}
#menu-27 .close-icon::before,
#menu-27 .close-icon::after {
  background-color: #ffffff;
}
#menu-27 .link,
#menu-27 .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-27 .link {
  font-size: 1.05rem;
}
#menu-27 .dropdown-item,
#menu-27 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-27 .link:hover,
#menu-27 .dropdown-item:hover,
#menu-27 .link:focus,
#menu-27 .dropdown-item:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-menu {
  background: #063813;
}
#menu-27 .nav-dropdown-sm .link:focus,
#menu-27 .nav-dropdown-sm .link:hover,
#menu-27 .nav-dropdown-sm .dropdown-item:focus,
#menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-27 .navbar,
#menu-27 .nav-dropdown-sm,
#menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-27 .bg-color.transparent.opened .link:hover,
#menu-27 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-27 .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-27 A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#msg-box7-2a .mbr-section-title,
#msg-box7-2a .lead p {
  color: #fff;
}
#msg-box7-2a H3 {
  font-size: 48px;
}
#msg-box7-2a P {
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box7-2a SPAN {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
}
#contacts1-29 STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-29 P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}










#header1-2k .mbr-section-title {
  font-size: 48px;
  color: #f3c649;
  font-family: 'Kalam', handwriting;
}
#header1-2k .mbr-section-lead SPAN {
  font-family: 'Lora', serif;
  font-size: 17px;
}
#header1-2k .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#header1-2k .mbr-section-title SPAN {
  color: #f7da64;
  font-family: 'Source Sans Pro', sans-serif;
}
#menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-20 .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-20 .navbar-toggler {
  color: #ffffff;
}
#menu-20 .close-icon::before,
#menu-20 .close-icon::after {
  background-color: #ffffff;
}
#menu-20 .link,
#menu-20 .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-20 .link {
  font-size: 1.05rem;
}
#menu-20 .dropdown-item,
#menu-20 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-20 .link:hover,
#menu-20 .dropdown-item:hover,
#menu-20 .link:focus,
#menu-20 .dropdown-item:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-menu {
  background: #063813;
}
#menu-20 .nav-dropdown-sm .link:focus,
#menu-20 .nav-dropdown-sm .link:hover,
#menu-20 .nav-dropdown-sm .dropdown-item:focus,
#menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-20 .navbar,
#menu-20 .nav-dropdown-sm,
#menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-20 .bg-color.transparent.opened .link:hover,
#menu-20 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-20 .link[aria-expanded="true"],
#menu-20 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-20 .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-20 A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#contacts1-22 STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-22 P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}







#gallery4-3b LI {
  color: #f7da64;
  text-align: right;
  font-family: 'Kalam', handwriting;
}
#menu-2v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2v .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-2v .navbar-toggler {
  color: #ffffff;
}
#menu-2v .close-icon::before,
#menu-2v .close-icon::after {
  background-color: #ffffff;
}
#menu-2v .link,
#menu-2v .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-2v .link {
  font-size: 1.05rem;
}
#menu-2v .dropdown-item,
#menu-2v .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-2v .link:hover,
#menu-2v .dropdown-item:hover,
#menu-2v .link:focus,
#menu-2v .dropdown-item:focus {
  color: #c0a375;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-menu {
  background: #063813;
}
#menu-2v .nav-dropdown-sm .link:focus,
#menu-2v .nav-dropdown-sm .link:hover,
#menu-2v .nav-dropdown-sm .dropdown-item:focus,
#menu-2v .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-2v .navbar,
#menu-2v .nav-dropdown-sm,
#menu-2v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2v .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-2v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2v .bg-color.transparent.opened .link:hover,
#menu-2v .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2v .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-2v A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#contacts1-2x STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-2x P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}



















#header1-2t .mbr-section-title {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 60px;
  text-align: center;
}
#header1-2t .mbr-section-title I {
  font-family: 'Droid Serif', serif;
}
#header1-2t .mbr-section-title SPAN {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  color: #f7da64;
}
#header1-2t .mbr-section-lead {
  text-align: center;
  font-family: 'Kalam', handwriting;
  color: #ffffff;
  font-size: 30px;
}
#menu-5 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5 .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-5 .navbar-toggler {
  color: #ffffff;
}
#menu-5 .close-icon::before,
#menu-5 .close-icon::after {
  background-color: #ffffff;
}
#menu-5 .link,
#menu-5 .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-5 .link {
  font-size: 1.1rem;
}
#menu-5 .dropdown-item,
#menu-5 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-5 .link:hover,
#menu-5 .dropdown-item:hover,
#menu-5 .link:focus,
#menu-5 .dropdown-item:focus {
  color: #c0a375;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-menu {
  background: #3d622b;
}
#menu-5 .nav-dropdown-sm .link:focus,
#menu-5 .nav-dropdown-sm .link:hover,
#menu-5 .nav-dropdown-sm .dropdown-item:focus,
#menu-5 .nav-dropdown-sm .dropdown-item:hover {
  background: #4c7b35!important;
}
#menu-5 .navbar,
#menu-5 .nav-dropdown-sm,
#menu-5 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5 .nav-dropdown-sm .dropdown-menu {
  background: #53863a;
}
#menu-5 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5 .bg-color.transparent.opened .link:hover,
#menu-5 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-5 .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-5 A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#content1-2r P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  text-align: right;
  font-size: 17px;
}
#msg-box5-2n P {
  color: #ffffff;
  text-align: right;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}
#msg-box5-2n B {
  color: #f3c649;
  font-family: 'Montserrat', sans-serif;
}
#msg-box5-2n I {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
#slider-2m H2 {
  font-size: 48px;
  font-family: 'Kalam', handwriting;
  text-align: center;
  color: #f3c649;
}
#slider-2m P {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#slider-2m SPAN {
  font-family: 'Droid Sans', sans-serif;
  color: #d4ff99;
  font-size: 60px;
}
#slider-2m .btn {
  font-family: 'Kalam', handwriting;
}
#content1-38 P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}
#contacts1-2s STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-2s P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}










#msg-box7-18 .mbr-section-title,
#msg-box7-18 .lead p {
  color: #fff;
}
#msg-box7-18 H3 {
  font-size: 48px;
  color: #f7da64;
  font-family: 'Droid Sans', sans-serif;
}
#msg-box7-18 B {
  color: #f3c649;
}
#msg-box7-18 P {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
#msg-box7-18 SPAN {
  font-family: 'Kalam', handwriting;
  color: #f7da64;
}
#msg-box7-18 .btn {
  font-family: 'Kalam', handwriting;
  font-size: 15px;
}
#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-12 .navbar-toggler {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #ffffff;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-12 .link {
  font-size: 1.05rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #c0a375;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #063813;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-12 .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-12 A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#contacts1-11 STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-11 P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}







#msg-box3-3m .mbr-section-title,
#msg-box3-3m .lead {
  color: #000;
}
#msg-box3-3m .mbr-section-title {
  color: #f7da64;
}
#msg-box3-3m .lead P {
  text-align: left;
  font-family: 'Lato', sans-serif;
}
#msg-box3-3m .lead {
  color: #ffffff;
}
#menu-3i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3i .navbar-caption {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
  font-size: 14px;
}
#menu-3i .navbar-toggler {
  color: #ffffff;
}
#menu-3i .close-icon::before,
#menu-3i .close-icon::after {
  background-color: #ffffff;
}
#menu-3i .link,
#menu-3i .dropdown-item {
  color: #ffffff;
  font-family: 'Kalam', handwriting;
}
#menu-3i .link {
  font-size: 1.05rem;
}
#menu-3i .dropdown-item,
#menu-3i .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-3i .link:hover,
#menu-3i .dropdown-item:hover,
#menu-3i .link:focus,
#menu-3i .dropdown-item:focus {
  color: #c0a375;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-menu {
  background: #063813;
}
#menu-3i .nav-dropdown-sm .link:focus,
#menu-3i .nav-dropdown-sm .link:hover,
#menu-3i .nav-dropdown-sm .dropdown-item:focus,
#menu-3i .nav-dropdown-sm .dropdown-item:hover {
  background: #0a581e!important;
}
#menu-3i .navbar,
#menu-3i .nav-dropdown-sm,
#menu-3i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3i .nav-dropdown-sm .dropdown-menu {
  background: #0b6623;
}
#menu-3i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3i .bg-color.transparent.opened .link:hover,
#menu-3i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3i .btn {
  font-size: 15px;
  font-family: 'Kalam', handwriting;
}
#menu-3i A {
  font-family: 'Caveat', handwriting;
  font-size: 18px;
}
#contacts1-3j STRONG {
  color: #f7da64;
  font-family: 'Kalam', handwriting;
  font-size: 20px;
}
#contacts1-3j P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
